body {
  padding-top: env(safe-area-inset-top, 24px);
}
.header {
  background-color: #0f172a; /* ta couleur */
  padding-top: env(safe-area-inset-top, 24px);
  height: calc(56px + env(safe-area-inset-top, 24px));
}
